<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--================ Start Header Menu Area =================-->
<header th:fragment="menu" class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand logo_h" href="/home"><img src="img/dahlogo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Shop</a>
              <ul class="dropdown-menu">


                <li class="nav-item"><a class="nav-link" href="/checkout">Product Checkout</a></li>

                <li class="nav-item"><a class="nav-link" href="/cart">Shopping Cart</a></li>
              </ul>
            </li>

            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>

              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/addProduct">Add Product</a></li>
          </ul>

          <ul class="nav-shop">
            <li class="nav-item"><button><i class="ti-search"></i></button></li>
            <a href="/cart" >
<!--               th:if="${userDto91.userRole=='ROLE_USER'}">-->
            <li class="nav-item"><button><i class="ti-shopping-cart"></i>
              <span class="nav-shop__circle">
<!--                    th:text="${shoppingCartDtoYY88.totalNumberOfProducts}"-->

            </span></button> </li>
              </a>
            <li class="nav-item"><a class="button button-header" href="/checkout">Buy Now</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================ End Header Menu Area =================-->
</body>
</html>